/* Estilo general para el cuerpo de la página */
body {
    font-family: Arial, sans-serif; /* Establece la tipografía Arial o sans-serif */
    margin: 0; /* Elimina el margen predeterminado de la página */
    padding: 0; /* Elimina el relleno predeterminado del body */
    background-color: #f4f4f4; /* Color de fondo de la página */
    color: #333; /* Color del texto */
}

/* Estilo para el encabezado de la página */
header {
    background-color: black; /* Fondo negro para el encabezado */
    color: white; /* Color blanco para el texto del encabezado */
    padding: 20px; /* Relleno de 20px alrededor del contenido */
    text-align: center; /* Centra el texto en el encabezado */
}

/* Estilo para la clase .img */
.img {
    width: 400px; /* Ancho de la imagen */
    text-align: center; /* Centra la imagen */
}
/* Estilo para las listas de navegación */
nav ul {
    list-style: none; /* Elimina los puntos de lista predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
}

/* Estilo para los elementos de lista dentro del menú de navegación */
nav ul li {
    display: inline; /* Los elementos de lista se muestran en línea */
    margin: 0 15px; /* Espaciado entre los elementos de la lista */
}

/* Estilo para los enlaces en el menú de navegación */
nav ul li a {
    color: white; /* Color blanco para los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    font-weight: bold; /* Establece el texto en negrita */
}

